/.quarto/

# Notebook Checkpoints
.ipynb_checkpoints/

# Large Databases
sql_II/data/imdb_duck.db

# macOS files
.DS_Store
__MACOSX/

# Site build
_site/*
*_files/
!docs/*/*_files/

# Python byte-compiled cache
__pycache__/
