.quarto/
.virtual_documents/

# Notebook Checkpoints
**/.ipynb_checkpoints/

# Large Databases
sql_II/data/imdb_duck.db

# macOS files
**/.DS_Store
**/__MACOSX/

# Python byte-compiled cache
**/__pycache__/

*.quarto_ipynb
*.qmd

/.quarto/
**/*.quarto_ipynb

# MyST build outputs
_build

# too big DB 
content/sql_II/data/imdb_duck.db

# virtual environment
venv/
