.quarto/
.virtual_documents/

# Notebook Checkpoints
**/.ipynb_checkpoints/

# Large Databases
sql_II/data/imdb_duck.db

# macOS files
**/.DS_Store
**/__MACOSX/

# Python byte-compiled cache
**/__pycache__/

/.venv/
**/*.quarto_ipynb
