# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=2.1.0=pypi_0
aiohttp=3.9.5=pypi_0
aiosignal=1.3.1=pypi_0
alabaster=0.7.16=pypi_0
annotated-types=0.6.0=pypi_0
anyio=3.6.2=pyhd8ed1ab_0
appnope=0.1.3=pyhd8ed1ab_0
argon2-cffi=21.3.0=pyhd8ed1ab_0
argon2-cffi-bindings=21.2.0=py39h1a28f6b_0
arrow=1.2.3=pypi_0
asttokens=2.2.1=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=22.2.0=pyh71513ae_0
babel=2.12.1=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backoff=2.2.1=pypi_0
backports=1.1=pyhd3eb1b0_0
backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
beautifulsoup4=4.11.2=pyha770c72_0
blas=2.116=openblas
blas-devel=3.9.0=16_osxarm64_openblas
bleach=6.0.0=pyhd8ed1ab_0
bottleneck=1.3.5=py39heec5a64_0
brotlipy=0.7.0=py39h1a28f6b_1002
ca-certificates=2023.01.10=hca03da5_0
cairo=1.16.0=h302bd0f_3
certifi=2022.12.7=pyhd8ed1ab_0
cffi=1.15.1=py39h80987f9_3
charset-normalizer=2.0.4=pyhd3eb1b0_0
click=8.1.7=pypi_0
comm=0.1.2=pyhd8ed1ab_0
conda=23.1.0=py39hca03da5_0
conda-package-handling=2.0.2=py39hca03da5_0
conda-package-streaming=0.7.0=py39hca03da5_0
contourpy=1.1.0=pypi_0
cryptography=39.0.1=py39h834c97f_0
cycler=0.11.0=pypi_0
data=0.4=pypi_0
datasets=2.19.0=pypi_0
debugpy=1.5.1=py39hc377ac9_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pyhd8ed1ab_0
dill=0.3.8=pypi_0
docutils=0.20.1=pypi_0
dowhy=0.8=pyhd8ed1ab_0
duckdb=0.10.1=pypi_0
duckdb-engine=0.11.2=pypi_0
entrypoints=0.4=pyhd8ed1ab_0
et-xmlfile=1.1.0=pypi_0
executing=1.2.0=pyhd8ed1ab_0
expat=2.5.0=hb7217d7_0
fica=0.3.1=pypi_0
filelock=3.13.1=pypi_0
flit-core=3.8.0=pyhd8ed1ab_0
font-ttf-dejavu-sans-mono=2.37=hab24e00_0
font-ttf-inconsolata=3.000=h77eed37_0
font-ttf-source-code-pro=2.038=h77eed37_0
font-ttf-ubuntu=0.83=hab24e00_0
fontconfig=2.14.1=h6b8db82_1
fonts-conda-ecosystem=1=0
fonts-conda-forge=1=0
fonttools=4.42.0=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.12.1=h1192e45_0
fribidi=1.0.10=h27ca646_0
frozenlist=1.4.1=pypi_0
fsspec=2023.12.2=pypi_0
funcsigs=1.0.2=pypi_0
future=0.18.3=pypi_0
gdk-pixbuf=2.42.10=h80987f9_0
gdown=5.1.0=pypi_0
gettext=0.21.1=h0186832_0
glib=2.69.1=h514c7bf_2
gmp=6.2.1=h9f76cd9_0
gmpy2=2.1.2=py39h8c48613_0
graphite2=1.3.14=hc377ac9_1
graphviz=2.50.0=he1da451_0
gts=0.7.6=hde733a8_3
h5py=3.11.0=pypi_0
harfbuzz=4.3.0=hb1b0ec1_0
huggingface-hub=0.22.2=pypi_0
icu=68.2=hbdafb3b_0
idna=3.4=py39hca03da5_0
imagesize=1.4.1=pypi_0
importlib-metadata=6.0.0=pyha770c72_0
importlib_metadata=6.0.0=hd8ed1ab_0
importlib_resources=5.12.0=pyhd8ed1ab_0
ipykernel=6.19.2=py39h86d0a89_0
ipylab=1.0.0=pypi_0
ipython=8.11.0=pyhd1c38e8_0
ipython-sql=0.5.0=pypi_0
ipython_genutils=0.2.0=py_1
ipywidgets=8.0.4=pyhd8ed1ab_0
isoduration=20.11.0=pypi_0
jedi=0.18.2=pyhd8ed1ab_0
jinja2=3.1.2=pyhd8ed1ab_1
joblib=1.2.0=pyhd8ed1ab_0
jpeg=9e=h1a8c8d9_3
json5=0.9.14=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.19.0=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
jupysql=0.8.0=pypi_0
jupysql-plugin=0.4.3=pypi_0
jupyter=1.0.0=py39h2804cbe_6
jupyter-events=0.7.0=pypi_0
jupyter-lsp=2.2.0=pypi_0
jupyter-server=2.7.1=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyter_client=8.0.3=pyhd8ed1ab_0
jupyter_console=6.6.3=pyhd8ed1ab_0
jupyter_core=5.2.0=py39hca03da5_0
jupyterlab=4.0.4=pypi_0
jupyterlab-server=2.24.0=pypi_0
jupyterlab_pygments=0.2.2=pyhd8ed1ab_0
jupyterlab_widgets=3.0.5=pyhd8ed1ab_0
jupytext=1.16.1=pypi_0
keras=3.2.1=pypi_0
kiwisolver=1.4.4=pypi_0
latex=0.7.0=pypi_0
lerc=3.0=hc377ac9_0
libblas=3.9.0=16_osxarm64_openblas
libcblas=3.9.0=16_osxarm64_openblas
libcxx=14.0.6=h848a8c0_0
libdeflate=1.17=h1a8c8d9_0
libffi=3.4.2=hca03da5_6
libgd=2.3.3=h14f8a72_1
libgfortran=5.0.0=12_2_0_hd922786_31
libgfortran5=12.2.0=h0eea778_31
libiconv=1.17=he4db4b2_0
liblapack=3.9.0=16_osxarm64_openblas
liblapacke=3.9.0=16_osxarm64_openblas
libopenblas=0.3.21=openmp_hc731615_3
libpng=1.6.39=h80987f9_0
librsvg=2.54.4=hb3bd4c3_2
libsodium=1.0.18=h27ca646_1
libtiff=4.5.0=h313beb8_2
libtool=2.4.7=hb7217d7_0
libwebp-base=1.3.0=h1a8c8d9_0
libxml2=2.9.14=h8c5e841_0
llvm-openmp=15.0.7=h7cfbb63_0
lz4-c=1.9.4=hb7217d7_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.1=py39h1a28f6b_0
matplotlib=3.7.2=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mdit-py-plugins=0.4.0=pypi_0
mdurl=0.1.2=pypi_0
mistune=2.0.5=pyhd8ed1ab_0
ml-dtypes=0.4.0=pypi_0
monotonic=1.6=pypi_0
mpc=1.3.1=h91ba8db_0
mpfr=4.2.0=he09a6ba_0
mpmath=1.3.0=pyhd8ed1ab_0
multidict=6.0.5=pypi_0
multiprocess=0.70.16=pypi_0
namex=0.0.8=pypi_0
nbclassic=0.5.3=pyhb4ecaf3_3
nbclient=0.7.2=pyhd8ed1ab_0
nbconvert=7.2.9=pyhd8ed1ab_0
nbconvert-core=7.2.9=pyhd8ed1ab_0
nbconvert-pandoc=7.2.9=pyhd8ed1ab_0
nbformat=5.7.3=pyhd8ed1ab_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.5.6=pyhd8ed1ab_0
networkx=3.0=pyhd8ed1ab_0
notebook=6.5.3=pyha770c72_0
notebook-shim=0.2.2=pyhd8ed1ab_0
numexpr=2.8.4=py39h79ee842_0
numpy=1.24.2=pypi_0
numpy-base=1.23.5=py39h90707a3_0
openblas=0.3.21=openmp_hf78f355_3
openpyxl=3.1.2=pypi_0
openssl=1.1.1t=h03a7124_0
optree=0.11.0=pypi_0
otter-grader=5.2.2=pypi_0
overrides=7.4.0=pypi_0
packaging=23.0=pyhd8ed1ab_0
pandas=1.5.3=py39h78102c4_0
pandoc=2.19.2=hce30654_2
pandocfilters=1.5.0=pyhd8ed1ab_0
pango=1.50.7=h7271ec9_0
parso=0.8.3=pyhd8ed1ab_0
patsy=0.5.3=pyhd8ed1ab_0
pcre=8.45=hbdafb3b_0
pexpect=4.8.0=pyh1a96a4e_2
pickleshare=0.7.5=py_1003
pillow=10.0.0=pypi_0
pip=23.0.1=pypi_0
pixman=0.40.0=h27ca646_0
pkgutil-resolve-name=1.3.10=pyhd8ed1ab_0
platformdirs=3.1.1=pyhd8ed1ab_0
ploomber-core=0.2.25=pypi_0
ploomber-extension=0.1.0=pypi_0
plotly=5.16.1=pypi_0
pluggy=1.0.0=py39hca03da5_1
pooch=1.7.0=pyhd8ed1ab_0
posthog=3.5.0=pypi_0
prettytable=3.9.0=pypi_0
prometheus_client=0.16.0=pyhd8ed1ab_0
prompt-toolkit=3.0.38=pyha770c72_0
prompt_toolkit=3.0.38=hd8ed1ab_0
psutil=5.9.0=py39h1a28f6b_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
pyarrow=15.0.2=pypi_0
pyarrow-hotfix=0.6=pypi_0
pycosat=0.6.4=py39h1a28f6b_0
pycparser=2.21=pyhd3eb1b0_0
pydantic=2.5.3=pypi_0
pydantic-core=2.14.6=pypi_0
pydot=1.4.2=py39h2804cbe_0
pygments=2.14.0=pyhd8ed1ab_0
pygraphviz=1.9=py39h80987f9_1
pyopenssl=23.0.0=py39hca03da5_0
pyparsing=3.0.9=pyhd8ed1ab_0
pyrsistent=0.18.0=py39h1a28f6b_0
pysocks=1.7.1=py39hca03da5_0
python=3.9.16=hc0d8a6c_2
python-dateutil=2.8.2=pyhd8ed1ab_0
python-fastjsonschema=2.16.3=pyhd8ed1ab_0
python-json-logger=2.0.7=pypi_0
python-on-whales=0.68.0=pypi_0
python_abi=3.9=2_cp39
pytz=2022.7.1=pyhd8ed1ab_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.1=pypi_0
qtconsole=5.4.3=pypi_0
qtpy=2.3.1=pypi_0
readline=8.2=h1a28f6b_0
referencing=0.30.2=pypi_0
regex=2023.12.25=pypi_0
requests=2.28.1=py39hca03da5_1
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.7.1=pypi_0
rpds-py=0.9.2=pypi_0
ruamel.yaml=0.17.21=py39h1a28f6b_0
ruamel.yaml.clib=0.2.6=py39h1a28f6b_1
safetensors=0.4.2=pypi_0
scikit-learn=1.3.0=pypi_0
scipy=1.10.1=pypi_0
seaborn=0.12.2=pypi_0
send2trash=1.8.2=pypi_0
setuptools=65.6.3=py39hca03da5_0
shutilwhich=1.1.0=pypi_0
six=1.16.0=pyh6c4a22f_0
sklearn=0.0.post7=pypi_0
sniffio=1.3.0=pyhd8ed1ab_0
snowballstemmer=2.2.0=pypi_0
soupsieve=2.3.2.post1=pyhd8ed1ab_0
sphinx=7.2.6=pypi_0
sphinxcontrib-applehelp=1.0.8=pypi_0
sphinxcontrib-devhelp=1.0.6=pypi_0
sphinxcontrib-htmlhelp=2.0.5=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.7=pypi_0
sphinxcontrib-serializinghtml=1.1.10=pypi_0
sql=2022.4.0=pypi_0
sqlalchemy=2.0.16=pypi_0
sqlglot=23.3.0=pypi_0
sqlite=3.40.1=h7a7dc30_0
sqlparse=0.4.4=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
statsmodels=0.13.5=py39hb08c31d_1
sympy=1.11.1=py39hca03da5_0
tempdir=0.7.1=pypi_0
tenacity=8.2.3=pypi_0
terminado=0.17.1=pyhd1c38e8_0
tf=1.0.0=pypi_0
threadpoolctl=3.1.0=pyh8a188c0_0
tinycss2=1.2.1=pyhd8ed1ab_0
tk=8.6.12=hb8d0fd4_0
tokenizers=0.15.1=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.0=py39hca03da5_0
tornado=6.2=py39h1a28f6b_0
tqdm=4.66.2=pypi_0
traitlets=5.9.0=pyhd8ed1ab_0
transformers=4.37.2=pypi_0
typer=0.9.0=pypi_0
typing-extensions=4.9.0=pypi_0
tzdata=2022g=h04d1e81_0
uri-template=1.3.0=pypi_0
urllib3=1.26.14=py39hca03da5_0
wcwidth=0.2.6=pyhd8ed1ab_0
webcolors=1.13=pypi_0
webencodings=0.5.1=py_1
websocket-client=1.5.1=pyhd8ed1ab_0
wheel=0.38.4=py39hca03da5_0
widgetsnbextension=4.0.5=pyhd8ed1ab_0
wrapt=1.16.0=pypi_0
xxhash=3.4.1=pypi_0
xz=5.2.10=h80987f9_1
yarl=1.9.4=pypi_0
zeromq=4.3.4=hbdafb3b_1
zipp=3.15.0=pyhd8ed1ab_0
zlib=1.2.13=h5a0b063_0
zstandard=0.19.0=py39h80987f9_0
zstd=1.5.2=h8574219_0
